body {
  background: linear-gradient(180deg, #e3b705, #330d0d);
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

#intro-container{
  width: 100%;
  background: rgba(0, 0, 0);
  padding: 0 6em;
}

#intro-container .logo{
  width: 100%;
  max-height: 20em;
}

#intro-container .logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#intro-container .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1em;
  font-size: .9em;
}

#media-container{
  padding: 0 3em;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.media {
  height: 18em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#guide_container {
  margin-top: 120px;
  color: black;
  font-size: 3em;
  padding-top: 15px;
  
}

.modal-xl {
  color: black;
  max-width: 90%;
}


.blockquote {
  font-style: italic;
  margin-top: 20px;
}

#join{
  font-size: 1.2em;
  width: 100%;
  padding: 15px;
  text-align: center;
  justify-content: center;
}

.bg-black {
  background-color: #000000 !important;
  color: #ffffff;
}

#whatsapp {
  font-weight: 600;
  width: 210px;
  border-radius: 30px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 2px;
}

#whatsapp:hover {
  background-color: #1ebe5d;
  text-decoration: none;
}

#whatsapp i {
  font-size: 30px;
  margin-right: 8px;
}

.reward {
  width: 100%;
  height: 30em;
}

.reward img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media only screen and (max-width: 768px) {
  #media-container{
    padding: 10px;
  }
  #intro-container{
    padding: 20px;
  }
}

#desktop-image {
  display: block;
}

#mobile-image {
  display: none;
}

@media only screen and (max-width: 768px) {
  #desktop-image {
      display: none;
  }
  #mobile-image {
      display: block;
  }
}